<% include main/header.ejs %>

    <div class="container" id="main">
        <div class="row">

            <% if (typeof errors !== "undefined" && errors.length > 0) { %>
                <div class="col-xs-12">
                    <div class="alert alert-danger">
                        <% errors.forEach(function (a) { %>
                          <div><%=a%></div>
                        <% }) %>
                    </div>
                </div>
            <% } %>

            <div class="col-xs-12 col-sm-6">
                <form class="form-signin" id="login-form" method="post" action="/login">
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <div class="form-group">
                        <label for="username" class="sr-only">Email address</label>
                        <input type="text" name="username" class="form-control" placeholder="Your Username..." required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="Password" class="sr-only">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Your Password..." required>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" name="sign-in" type="submit">Sign in</button>
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <form id="register-form" method="post" action="/register">
                    <h2 class="form-signin-heading">Register</h2>

                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Your Username..." required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="email" class="sr-only">Email address</label>
                        <input type="email"  name="email" class="form-control" placeholder="Your E-Mail..." required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="Password" class="sr-only">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Your Password..." required>
                    </div>

                    <button class="btn btn-lg btn-success btn-block" name="register" type="submit">Register</button>
                </form>
            </div>

        </div>
    </div>

<% include main/footer.ejs %>